<center>  
<div id="create" style="margin-top:100px;margin-left:290px;background-color:#9cc;height:350px;width:40%;font-size:26px;position:relative;float:left;">  
    <p style="font-size:30px">创建模型</p>
    Name&nbsp;&nbsp;&nbsp;:<input type="text" name="name" ng-model="activiti.name"/> 
    </br>  
    </br>  
    Key&nbsp;&nbsp;&nbsp;&nbsp;:<input type="text" name="key" ng-model="activiti.key"/>  
    </br>  
    </br>  
    Description:<input type="text" name="description" ng-model="activiti.description"/>  
    </br>  
    </br>  
    <input style="font-size:28px;cursor:pointerborder:1px solid;border-radius:0.5em;" type="button" value="创建模型" ng-click="createTo(activiti);"/>  
        &nbsp;&nbsp;&nbsp;
    <input style="font-size:28px;cursor:pointer;cursor:pointerborder:1px solid;border-radius:0.5em;" type="button" value="返回"/>  
</div>  
</center>  