<center>  
<div id="login">  
    <p style="font-size:30px">请 登 录</p>
    userName:<input type="text" name="userName" ng-model="user.userName"/> 
    </br>  
    </br>  
    password:<input type="password" name="password" ng-model="user.password"/>  
    </br>  
    </br>  
    <input style="font-size:28px;cursor:pointer" type="button" value="登 陆" ng-click="loginTo(user);">  
        &nbsp;&nbsp;&nbsp;
    <input style="font-size:28px;cursor:pointer" type="button" value="注 册">  
</div>  
</center>  