<center>  
<div style="margin-top:20px;margin-left:200px;background-color:#9cc;height:500px;width:50%;font-size:22px;position:relative;float:left;">  
    <p style="font-size:28px">新建申请</p>
    流程定义id:<input type="text" ng-model="process1.proDefId" readonly="readonly" style="background-color:#9dc"/> 
    </br>  
    </br>  
    流程定义key:<input type="text" ng-model="process1.key" readonly="readonly" style="background-color:#9dc"/> 
    </br>  
    </br>  
    申请类型:<input type="text" ng-model="process1.name" readonly="readonly" style="background-color:#9dc"/> 
    </br>  
    </br>  
    申请人:<input type="text" ng-model="process1.appPerson" /> 
    </br>  
    </br>  
    申请原因:<input type="text" ng-model="process1.cause"/>  
    </br>  
    </br>  
    申请内容:<input type="text" ng-model="process1.content"/>  
    </br>  
    </br>  
  受理人：<input type="text" ng-model="process1.proPerson"/>  
    </br>  
    </br>  
    <input style="font-size:24px;cursor:pointer" type="button" value="提交申请" ng-click="startProcess(process1);">  
        &nbsp;&nbsp;&nbsp;
    <input style="font-size:24px;cursor:pointer" type="button" value="返回">  
</div>  
</center>  